<div id="aboutUs-div" class="contenedor">
  <div class="first">
    <h2> About Us </h2>
    <div id="about_underline"></div>
  </div>

  <div class="content">
    <div class="img">
      <%= image_tag("about.jpg", :alt => "Avatar", :style => "width: 100%;") %>
    </div>
    <div class="text">

      <p><strong>FLYSNK</strong></p>

      <p style="width: 380px;">Fly Sneakers c/o ADEM Lemon™ is a fashion sneakers rooted in current culture at a taste-level particular to now.
        With a specific opinion and not necessarily same with vision seasonal men's and women's pairs are offered.
        There is a product offering of the brand also in the realm of furniture and ready made goods to further reinforce
        an approach to lifestyle.
        All products are based in a concept that adapts from season to season. Manufacturing is based in
        Los Angeles with a core value of the brand to be made from the best available and particular opinion regarding
        fabric, fit and fabrication.
        The result is to be a young brand embracing the now in a sophisticated manner.</p>

    </div>
  </div>


</div>